<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <%- include('partials/nav');%>
    <h1>Contact Us!</h1>
    <h2>Thank you for your request...</h2>
    <p><%= data.who %> will soon get in touch with you!</p>
    <p>from <%= data.department %> department</p>
    <p>we will reach out to you soon at: <%= data.email %></p>
</body>
</html>